/* Main Article Title & Image Start */
#main-article-image {
  position: relative;
}

#main-article-image::before {
  content: "";
  background: url(../img/laptop.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.article-title-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}

.article-title-content {
  z-index: 1;
  text-align: center;
}

.article-title-content h1 {
  font-size: 4rem;
}

.article-title-content i {
  padding-top: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.fa-calendar-alt {
  margin-right: 1rem;
}
/* Main Article Title & Image End */

/* Article Section Start */
#article-container {
  display: grid;
  grid-template-columns: 6fr 2fr;
  margin-top: 5rem;
  background-color: #fff;
  transform: translateY(-200px);
  min-height: auto;
  z-index: 2;
  box-shadow: 10px 10px 35px #333;
}

.article-content {
  padding: 2rem 5rem;
}

.article-content p {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.first-paragraph::first-letter {
  font-size: 200%;
}

figure img {
  width: 100%;
  height: auto;
}
/* Article Section End */

/* Sidebar Start */
#latest-articles-sidebar {
  background-color: var(--color-3);
  padding: 1.5rem;
  color: var(--color-1);
  border-radius: 5px;
  max-height: 600px;
  margin-top: 3rem;
}

#latest-articles-sidebar article {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

#latest-articles-sidebar i {
  margin-right: 0.7rem;
}

#latest-articles-sidebar article a {
  color: var(--color-1);
}

#latest-articles-sidebar article a:hover {
  color: var(--color-6);
}

#latest-articles-sidebar h2 {
  text-align: center;
  border-bottom: 2px solid var(--color-1);
}

#article-sidebar h3 {
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: underline;
}
/* Sidebar End */

/* Share Buttons Start */
#share-buttons-heading {
  text-align: center;
  margin: 2rem 0;
}

.article-share-buttons {
  display: flex;
  justify-content: center;
}

.article-share-buttons i {
  margin: 0 1rem;
  transition: all 0.3s ease;
}

.article-share-buttons i:hover {
  transform: scale(1.4);
}

.fa-facebook-messenger {
  color: #21a0fa;
}
.fa-whatsapp {
  color: #38de56;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-linkedin-in {
  color: #0077b5;
}
/* Share Buttons End */

/* RESPONSIVE DESIGN START */

/* Tablet Start */
@media screen and (max-width: 1070px) {
  .article-title-container {
    height: 50vh;
  }

  .article-title-content h1 {
    font-size: 3rem;
  }

  #article-container {
    grid-template-columns: 1fr;
    padding-bottom: 3rem;
  }
}
/* Tablet End */

/* Phone Start */
@media screen and (max-width: 620px) {
  .article-title-content h1 {
    font-size: 1.8rem;
  }

  .article-content {
    padding: 1rem 0.15rem;
    font-size: 1rem;
  }
}
/* Phone End */
/* RESPONSIVE DESIGN END */
